<!-- <ion-tabs>
  <ion-tab-bar slot = "bottom">
    
    <ion-tab-button tab = "hobbiesMotto">
      <ion-icon name = "hobbies">
        <ion-label>Hobbies and Motto</ion-label>
      </ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->


<ion-header class="ion-text-center">  
  <ion-toolbar class = "portfolioContent">
    <ion-title>
      -- DEVELOPER'S PORTFOLIO CONTENT --
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header class = "my-name">
    <ion-card-title>
      hi! <br>
      I'm Micailla Marie D.C. Marcos
    </ion-card-title>
  </ion-card-header>
  
  <ion-content class = "image">
    <ion-img src="assets/images/biggerme.png"></ion-img>
  </ion-content>
  
  <ion-card-content class = "about-me">
    <p>.·:*¨ ✘♚✘ ¨*:·. <br><br>I'm Micailla or Cai for short, a 19 year old with a passion for creativity and innovation. <br>
      I thrive on the ability to improvise and adapt, allowing me to bring fresh perspectives to any <br>
      project I undertake. Hardwoking and driven, I enjoy diving into projects that align with my interests, <br>
      pushing boundaries to create impactful solutions.</p>
  </ion-card-content>

  <ion-card-content class="ion-text-center">
    <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  </ion-card-content>

  <ion-card-header class = "my-hobbies">
    <ion-card-title>
      ඞ my hobbies ඞ
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "hobbiesP">
      <p> 
      - I like playing video games, specifically online computer games<br>
      - I'm interested in books and movies<br>
      - I do some editing and photography
      - I'm also interested in music and singing</p>
  </ion-card-content>

  <ion-card-header class = "my-strengths">
    <ion-card-title>
      ✟ my strengths and weaknesses ✟
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "strengths"> 
    <p>
      - I'm a strong communicator, and I enjoy working with others<br>
      - I'm a fast learner, and I enjoy learning new things<br>
      - I tend to lose intereset in certain things, when I get tired of it<br>
    </p>
  </ion-card-content>

  <ion-card-header class = "my-motto">
    <ion-card-title>
      ⚡︎ motto ⚡︎
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "motto"> 
    <p>
      Be the change you wish to see in the world.
    </p>
  </ion-card-content>

  <ion-card-header class = "my-loveLanguage">
    <ion-card-title>
      love language
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "loveLanguage"> 
    <p>
      Quality Time and Physical Touch. Kasi nung bata ko kinulang ako sa attention kaya po ganiyan yung ll ko HAHAHAHA
    </p>
  </ion-card-content>

  <ion-card-header class = "my-pagkain">
    <ion-card-title>
      kung magiging food ako
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "pagkain"> 
    <p>
      I'll be an apple, para layuan ako ng mga doctor. Auq magkasakit lods
    </p>
  </ion-card-content>

  <ion-card-header class = "my-petPeeve">
    <ion-card-title>
      pet peeve ˙◠˙
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class = "petPeeve"> 
    <p>
      - Kapag malakas ngumuya tapos nagsasalita ng may laman yung bibig :O <br>
      - FILIPINO TIME!!!!!!!!!!
    </p>
  </ion-card-content>

  <div class="fab-container">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class = "addBtn">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button href="https://www.facebook.com/potatodotdot">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/mawe_ssi">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.instagram.com/mmmarc0s/">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
  