<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{userName}}, welcome!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class = "buttons">
      <ion-button (click)="logOut()">Logout</ion-button><br>
      <ion-button color="secondary" class = "alert" (click)="alert()">ALERT</ion-button><br>
      <ion-button color="secondary" class = "toast" (click)="presentToast()">TOAST</ion-button><br>
    </div>
  </ion-content>
</ion-content>
