<ion-content>
  <ion-button class="logout" expand="block" (click)="logOut()">logout</ion-button>
  
  <div class="home-container" *ngFor="let user of userList">
    <p>STUDENT RECORD</p>   
    <p>
      firstname: {{user.firstname}}<br>
      lastname: {{user.lastname}}<br>
      course: {{user.course}}<br>
      section: {{user.section}}<br>
      dateEnrolled: {{user.dateEnrolled}}<br>
      gwa: {{user.gwa}}<br>
      isGraduated: {{user.isGraduated}}<br>
      <ion-button color="dark" fill="clear" style="float: right;" (click)="update(user)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" style="float: right;" (click)="delete(user)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </p> 
  </div>
  
  <br><br>
  
  <ion-button class="create" expand="block" href="/create">add data</ion-button>
</ion-content>
