<ion-content>
  <div class = "main_content_div">

    <ion-buttons slot= "start" class="menu_btn">
      <ion-menu-button color ="light"></ion-menu-button>
      </ion-buttons>

      <div class = "user_div">
        <div class = "first_div">
          <!-- Can be welcome text -->
          <ion-label class = "welcome">Welcome to <br>my Portfolio</ion-label>
          <ion-label class = "myHobbies">Photography and Editing</ion-label>
        </div>
        <div class = "user_back" [style.backgroundImage]="'url(src\images\pusa.png)'">

        </div>
      </div>

      <div class = "content_div">
        <div class = "myName">MARCOS, Micailla Marie D.C.</div>
      </div>

  </div>
</ion-content>
